@import "../../styles/colors";

.arrow-container {
  width: 100%;
  height: 10px;
  .arrow {
    width: 0;
    height: 0;
    position: absolute;
    visibility: hidden;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #{$TransparentBlackColor};
  }
  .arrow.dropdown {
    right: 6%;
    visibility: visible;
    z-index: 100;
  }
}

.dropdown-container {
  width: 60%;
  max-height: 150px;
  position: absolute;
  overflow-y: auto;
  right: 0;
  padding: 5px 0 5px 0;
  background-color: #{$TransparentBlackColor};
  z-index: 100;
  .dropdown-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin: 0 5px 0 5px;
    .name {
      display: inline-block;
      font-size: 16px;
    }
    .color {
      width: 16px;
      height: 16px;
      right: 0;
      position: absolute;
      display: inline-block;
      margin-right: 5px;
    }
  }
  .dropdown-popup:hover {
    background-color: #{$TransparentBlueColor};
  }
}
