@import "../../styles/colors";

.arrow-container {
  width: 100%;
  height: 10px;
  .arrow {
    width: 0;
    height: 0;
    position: absolute;
    visibility: hidden;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #{$TransparentBlackColor};
  }
  .arrow.picker {
    right: 26%;
    visibility: visible;
    z-index: 100;
  }
}

.picker-container {
  width: 80%;
  height: 150px;
  position: absolute;
  right: 0;
  background-color: #{$TransparentBlackColor};
  z-index: 100;
  .bars-container {
    margin: 10px;
    .slider {
      -webkit-appearance: none;
      display: inline-block !important;
      width: 100% !important;
      height: 10px;
      border-radius: 10px;
      outline: none;
      -webkit-transition: .5s;
      transition: background-color .5s;
      margin-top: 15px;
    }
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #{$LightGrayColor};
      cursor: pointer;
      border: solid 1px #{$LightGray2Color};
    }
    .slider::-moz-focus-outer {
      border: 0;
    }
  }
  .complete-buttons-container {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2px;
    .cancelButton,
    .doneButton {
      height: 25px;
      margin: 2px;
      padding: 0;
      border: 0;
      color: white;
      background-color: #{$GreenColor};
    }
    .cancelButton {
      width: 50px;
    }
    .doneButton {
      width: 30px;
    }
  }
}
