@import "../styles/colors";

.container {
  width: 40%;
  min-width: 200px;
  max-width: 350px;
  height: 30px;
  position: relative;
  background-color: #{$GrayColor};
  border: 1px solid #{$BlueColor};
  border-radius: 10px;
  color: white;
  .colorHEX {
    width: 58%;
    display: inline-block;
    line-height: 30px;
    padding-left: 2%;
    font-size: 18px;
  }
  .buttons-container {
    position: absolute;
    display: inline-block;
    width: 40%;
    height: 100%;
    .dropdown-button,
    .picker-button {
      width: 50%;
      height: 100%;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-left: 1px solid #{$BlueColor};
      cursor: pointer;
    }

    .picker-button {
      .color {
        width: 50%;
        height: 50%;
        max-width: 25px;
      }
    }

    .dropdown-button {
      position: absolute;
      img {
        width: 50%;
        height: 50%;
        max-width: 25px;
        transition-duration: 0.8s;
        transition-property: transform;
      }
      img.open {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    }
  }
}
